<div class="container">
    <h1>The Cook Book</h1>
    <div class="content">
        <ul *ngIf="!isUserAuthenticated()">
            <li>
                <a [routerLink]="[routes.home.name]">Home</a>
            </li>
            <li>
                <a [routerLink]="[routes.register.name]">Register</a>
            </li>
            <li>
                <a [routerLink]="[routes.login.name]">Login</a>
            </li>
        </ul>
        <ul *ngIf="isUserAuthenticated()">
            <li>
                <a [routerLink]="[routes.recipes.name]">Recipes</a>
            </li>
            <li>
                <a [routerLink]="[routes.home.name]" (click)="logout()">Log out</a>
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>
