<h1>Recipes</h1>

<div [hidden]="_recipes.length === 0">
    <div class="recipes" *ngFor="let recipe of _recipes">
        <div class="recipe">
            <div class="recipe-header">
                <a [routerLink]="[routes.recipe.name, {id: recipe.Id}]">{{recipe.Title}}</a>
            </div>
            <div class="recipe-body">
                <div class="date">Date: {{convertDateTime(recipe.CreatedOn)}}</div>
                <p>{{recipe.Description}}</p>
            </div>
        </div>
    </div>
</div>

<h3>Create</h3>
<form #hf="ngForm" class="form-default">
    <div class="form-group">

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Title" [(ngModel)]="_recipe.Title" required #title="ngForm" ngControl="title" />
            <div [hidden]="title.valid || title.untouched" class="alert alert-danger">
                Title is required
            </div>
        </div>

        <div class="form-group">
            <textarea class="form-control" placeholder="Description" [(ngModel)]="_recipe.Description" #description="ngForm" ngControl="description"></textarea>
        </div>

        <h4>Ingredients</h4>

        <div class="input-group">
            <input class="form-control" type="text" placeholder="Ingredient"  [(ngModel)]="_ingredient" required #ingredient="ngForm" ngControl="_ingredient" (keypress)="($event.which === 13) ? addIngredient() : 0" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="addIngredient()">Add</button>
            </span>
        </div>

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of _ingredients">
                {{ingredient.Title}}
                <a (click)="removeIngredient(ingredient)">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </li>
        </ul>

        <h4>Steps</h4>

        <div class="form-group">
            <textarea class="form-control" placeholder="Step"  [(ngModel)]="_step" required #step="ngForm" ngControl="_step"></textarea>
            <button class="btn btn-default" type="button" (click)="addStep()">Add</button>
        </div>

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let step of _steps">
                {{step.Title}}
                <a (click)="removeStep(step)">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </li>
        </ul>

        <button class="btn btn-primary" type="button" (click)="submit()">Submit</button>

    </div>
</form>
