<div class="form-default">
    <h1>{{_title}}</h1>
    <p>{{_description}}</p>
    <h3>Ingredients</h3>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of _ingredients">
            {{ingredient.Title}}            
        </li>
    </ul>
    <h3>Steps</h3>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let step of _steps">
            {{step.Title}}         
        </li>
    </ul>
    <a class="btn btn-danger" (click)="delete()">Delete</a> 
</div>
